<plugin name='spring-security-opac' version='1.0.1' grailsVersion='2.0.0 &gt; *'>
  <author>Hai-Hua Xiao</author>
  <authorEmail>hhxiao@gmail.com</authorEmail>
  <title>Opac authentication support for the Spring Security plugin</title>
  <description>Opac authentication support for the Spring Security plugin</description>
  <documentation>http://grails.org/plugin/spring-security-opac</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>DefaultOpacSecurityConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='springSecurityCore' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>
